{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h2>Transaction History</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Type</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for trans in transactions %}
            <tr>
                <td>{{ trans.symbol }}</td>
                <td>{{ trans.shares }}</td>
                <td>{{ trans.price | usd }}</td>
                <td>{{ trans.type | upper }}</td>
                <td>{{ trans.transacted }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}